<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106886147486-omkl2lohpuqfl67qlctabah7rct8rdsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106886147486-omkl2lohpuqfl67qlctabah7rct8rdsj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106886147486-oc2v7hurdq9hgf8282m8sitt3p1h00b9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnpsKw5xSCLYeiBCbIrf8HA6ekqLDInw0</string>
	<key>GCM_SENDER_ID</key>
	<string>106886147486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fithub.groupProject</string>
	<key>PROJECT_ID</key>
	<string>fithub-5df39</string>
	<key>STORAGE_BUCKET</key>
	<string>fithub-5df39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106886147486:ios:43e2dfe2fdbc8db3453a8f</string>
</dict>
</plist>